Title	CHEST X-RAY			
		
Projection:	{{ projection }}
		
Findings:		
Technical quality:	{{ technical_quality|safe }}

Lines and Tubes:	{{ lines_and_tubes|safe }}
		
Cardiomediastinal:	{{ cardiomediastinal|safe }}
		
Lung parenchyma:	{{ lung_parenchyma|safe }}
		
Pleural space:	{{ pleural_space|safe }}
		
Bones:	{{ bones|safe }}
		
Other:	{{ other|safe }}