{% if acute_aortic_syndrome %}
Mediastinum is widened.
{% endif %}


{% if aortic_arch_calcification %}
Thoracic aortic calcification demonstrated.
{% endif %}

{% if aortic_stent %}
Aortic stent in situ.
{% endif %}

{% if cardiac_valve_prosthesis %}
Cardiac valve prosthesis in situ.
{% endif %}

{% if cardiomegaly %}
Cardiac silhouette is enlarged.
{% endif %}



{% if tracheal_deviation %}
Tracheal deviation noted.
{% endif %}

{% if superior_mediastinal_mass %}
Increased density in the superior mediastinum.
{% endif %}


{% if pulmonary_artery_enlargement %}
Enlarged pulmonary arteries noted.
{% endif %}

{% if pneumomediastinum %}
Pneumomediastinum noted.
{% endif %}

{% if pericardial_fat_pad %}
Pericardial fat pad noted.
{% endif %}

{% if inferior_mediastinal_mass %}
Mediastinal masses noted.
{% endif %}

{% if hilar_lymphadenopathy %}
Prominent hilar enlargement noted.
{% endif %}

{% if calcified_hilar_lymphadenopathy %}
Calcified hilar lymph nodes noted.
{% endif %}

{% if coronary_stent %}
Coronary artery stent visualised.
{% endif %}


{% if electronic_cardiac_devices %}
Pacing device present.
{% endif %}


{% if mediastinal_clips %}
Surgical clips project over the mediastinum.
{% endif %}


{% if oesophageal_stent %}
Oesophageal stent in situ.
{% endif %}


{% if sternotomy_wires %}
Sternotomy wires noted.
{% endif %}


{% if unfolded_aorta %}
Aorta is tortuous.
{% endif %}


