

{% if in_position_pac %}
Pulmonary artery catheter in situ.
{% endif %}

{% if malpositioned_pac %}
The pulmonary artery catheter may be malpositioned.
{% endif %}

{% if in_position_ngt %}
Enteric tube in situ.
{% endif %}

{% if malpositioned_ngt %}
The enteric tube may be incompletely visualised or suboptimally positioned.
{% endif %}

{% if in_position_ett %}
Endotracheal tube present.
{% endif %}

{% if malpositioned_ett %}
The endotracheal tube may be suboptimally positioned.
{% endif %}

{% if in_position_cvc and cvc_segmentation_laterality %}
{{ cvc_segmentation_laterality }} central line(s) in situ.
{% endif %}

{% if malpositioned_cvc and cvc_segmentation_laterality %}
Central line(s) may be suboptimally positioned.
{% endif %}

{% if intercostal_drain and intercostal_drain_laterality in ['left', 'right'] %}
{{ intercostal_drain_laterality }} intercostal drain.
{% endif %}
{% if intercostal_drain and intercostal_drain_laterality in ['bilateral'] %}
{{ intercostal_drain_laterality }} intercostal drains.
{% endif %}

