
{% if calcified_pleural_plaque %}
Calcified pleural plaques. 
{% endif %}

{% if diffuse_pleural_thickening %}
Diffuse pleural thickening.
{% endif %}



{% if simple_effusion and loculated_effusion and effusion_segmentation_laterality in ['left', 'right'] %}
{{ effusion_segmentation_laterality }} simple / loculated pleural effusion. 
{% elif simple_effusion and effusion_segmentation_laterality in ['left', 'right'] %}
{{ effusion_segmentation_laterality }} simple pleural effusion. 
{% elif loculated_effusion and effusion_segmentation_laterality in ['left', 'right'] %}
{{ effusion_segmentation_laterality }} loculated pleural effusion. 
{% endif %}


{% if simple_effusion and loculated_effusion and effusion_segmentation_laterality in ['bilateral'] %}
{{ effusion_segmentation_laterality }} simple and loculated pleural effusions. 
{% elif simple_effusion and effusion_segmentation_laterality in ['bilateral'] %}
{{ effusion_segmentation_laterality }} simple pleural effusions. 
{% elif loculated_effusion and effusion_segmentation_laterality in ['bilateral'] %}
{{ effusion_segmentation_laterality }} loculated pleural effusions. 
{% endif %}



{% if pleural_mass and pleural_mass_segmentation_laterality in ['left', 'right'] %}
Focal {{ pleural_mass_segmentation_laterality }} pleural thickening/mass. 
{% endif %}
{% if pleural_mass and pleural_mass_segmentation_laterality in ['bilateral'] %}
Focal {{ pleural_mass_segmentation_laterality }} pleural thickening/masses. 
{% endif %}

{% if simple_pneumothorax and pneumothorax_segmentation_laterality in ['left', 'right', 'bilateral'] %}
{{ pneumothorax_segmentation_laterality }} pneumothorax. 
{% endif %}

{% if tension_pneumothorax and pneumothorax_segmentation_laterality in ['left', 'right', 'bilateral'] %}
Features of tension associated with {{ pneumothorax_segmentation_laterality }} pneumothorax. 
{% endif %}