Title	CHEST X-RAY			
		
Projection:	{{ projection }}
		
Findings:		
Technical quality:	{{ technical_quality }}

Lines and Tubes:	{{ lines_and_tubes }}
		
Cardiomediastinal:	{{ cardiomediastinal }}
		
Lung parenchyma:	{{ lung_parenchyma }}
		
Pleural space:	{{ pleural_space }}
		
Bones:	{{ bones }}
		
Other:	{{ other }}
		
Conclusion:	[Empty field]	