{% if cervical_flexion %}Lung apices partially obscured due to cervical flexion.{% endif %}
{% if overexposed %}Overexposure noted.{% endif %}
{% if patient_rotated %}Patient rotation noted.{% endif %}
{% if underinflation %}Lungs appear underinflated.{% endif %}
{% if incompletely_imaged %}Lungs are incompletely imaged.{% endif %}
{% if image_obscured %}Lungs are partially obscured.{% endif %}
{% if underexposed %}Underexposure noted.{% endif %}